<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>

	<style>
		@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

		html, body{
			height: 100%;
			font-family: 'Open Sans';
		}
		body{
			margin: 0px;
		}
		.sidebar{
			background-color: #2ECC71;
			/*height: 100%;*/
			position:fixed;
			top:0;
			left:0;
			bottom:0;
			width: 25%;
			float: left;
			color: white;
		}
		
		.sideContent{
			padding: 0px 15px;
		}
		h1{
			font-weight: 400;
			margin-top: 0px;
		}

		.modules{
			width: 75%;
			float: right;
			padding: 30px 0px;
		}

		#modulesList li{
			list-style-type: none;
			line-height: 25px;
			font-size: 0.9em;
		}

		#modulesList{
			-webkit-columns: 200px 3; /* Chrome, Safari, Opera */
			-moz-columns: 200px 3; /* Firefox */
			columns: 200px 3;
		}

		input[type=checkbox]{
			margin-right: 10px;
		}
		
		#createBuild{
			border:none;
			background-color: #21a859;
			padding: 10px 20px;
			color: white;
			font-weight: 700;
			border-radius: 3px;
			text-transform: uppercase;
			margin-top: 90px;
			transition: 0.3s;
		}
		#createBuild:hover{
			cursor: pointer;
			background-color: #126D38;
		}
		#createBuild:disabled {
			background: #21a859;
			cursor: default;
		}
		h3{
			padding-left: 45px;
		}
		input[type=text]{
			border: none;
			line-height: 24px;
			border-radius: 2px;
			width: 80%;
			padding: 5px 10px;
		}

		label{
			color: #375634;
			font-size: .8em;
			text-transform: uppercase;
			font-weight: 800;
			margin-bottom: 5px;
			display: block;
		}
		.note{
			font-weight: 500;
			text-transform: none;
			font-style: italic;
			margin-top: 5px;
		}
		#versionNumber{
			font-size:13px;
			position: absolute;
			bottom: 10px;
		}
		#versionNumber a{
			font-weight: bold;
			color: white;
		}
		.warning{
			font-size: 0.9rem;
			font-weight: 800;
			text-transform: uppercase;
			font-style: italic;
		}
	</style>
</head>

<body id="app">

	<div class="sidebar">
		<img src="logo.png">

		<div class="sideContent">
			<label>Output file name</label>
			<input type="text" name="fileName" id="fileName" placeholder="{{placeHolder}}" v-model="outfileName"></input>
			<label class="note">Defaults to turf_dddMDDYYYY.min.js</label>
			<label class="note">No need to include the file extension (eg .min.js)</label>
			<div v-if="selectedModules.length > 0">
				<button id="createBuild" v-on:click="getDownload">Build</button>
			</div>
			<div v-else>
				<button id="createBuild" disabled>Build</button>
				<p class="warning">Please select a few modules.</p>
			</div>

			<p id="versionNumber">Currently using <a target="_blank" href="https://github.com/Turfjs/turf/tree/v{{turfVersion}}">Turf {{turfVersion}}</a></p>

		</div>
	</div>	
	<div class="modules">
		<h3>Available modules</h3>

		<ul id="modulesList">
			<li v-for="item in turfModules">
				<input type="checkbox" name="{{item}}" value="{{item}}" v-model="selectedModules">{{ item }}
			</li>
		</ul>

	</div>

</body>
<script>
	var vm = new Vue({
		el: '#app',
		data: {
			turfVersion: "<%= turfVersion %>",
			turfModulesRaw: "<%= turfModules %>",
			placeHolder: "turf_" + new Date().toDateString().split(' ').join(''),
			selectedModules: [],
			outfileName: null
		},
		computed: {
			turfModules: function () {
				return this.turfModulesRaw.split(',')
			},
			selectedModulesString: function () {
				return this.selectedModules.toString()
			},
			finalOutFileName: function () {
				if (typeof this.outfile == 'undefined' || this.outfile == null || this.outfile == ''){
					return this.placeHolder;
				}
				else {
					return this.outfile;
				}
			}
		},
		methods: {
			getDownload: function () {
				var placeholder = this.placeholder;
				if(this.selectedModules.length > 0 ){
					// var outfile = this.outfileName;
					// if (typeof outfile == 'undefined' || outfile == null || outfile == ''){
					// 	outfile = this.placeHolder;
					// }
					window.location.href = 'build?modules='+this.selectedModulesString+'&fn='+this.finalOutFileName;
				}
			}
		}
	})
</script>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-69009460-1', 'auto');
	ga('send', 'pageview');

</script>
</html>