@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body{
	height: 100%;
	font-family: 'Open Sans';
}
body{
	margin: 0;
}
.sidebar{
	background-color: #2ECC71;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width: 18%;
	float: left;
	color: white;
	padding: 0 20px;
}

.title {
	display: block;
	text-align: center;
	font-size: 2.5rem;
	color: white;
}

.progress {
	width: 300px;
	background: #2ecc71;
	color: white;
	position: absolute;
	right: 30px;
	bottom: 30px;
}

.sideContent{
	padding: 0 15px;
}
h1{
	font-weight: 400;
	margin-top: 0;
}

.modules{
	width: 70%;
	float: right;
	margin: 30px 0 30px 45px;
}

#modulesList li{
	list-style-type: none;
	line-height: 25px;
	font-size: 0.9rem;
}

#modulesList{
	-webkit-columns: 200px 3; /* Chrome, Safari, Opera */
	-moz-columns: 200px 3; /* Firefox */
	columns: 200px 3;
	margin-bottom: 30px;
	padding-left: 0;
}

input[type=checkbox]{
	margin-right: 10px;
}

#createBuild{
	border:none;
	background-color: #21a859;
	padding: 10px 20px;
	color: white;
	font-weight: 700;
	border-radius: 3px;
	text-transform: uppercase;
	margin-top: 90px;
	transition: 0.3s;
}
#createBuild:hover{
	cursor: pointer;
	background-color: #126D38;
}
#createBuild:disabled {
	background: #21a859;
	cursor: default;
}
input[type=text]{
	border: none;
	line-height: 24px;
	border-radius: 2px;
	width: 80%;
	padding: 5px 10px;
}

label {
	cursor: pointer;
}

.filenameLabel{
	color: #375634;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 5px;
	display: block;
}
.note{
	font-weight: 500;
	text-transform: none;
	font-style: italic;
	margin-top: 5px;
}
#versionNumber{
	font-size: 0.8rem;
	position: absolute;
	bottom: 10px;
}
#versionNumber a{
	font-weight: bold;
	color: white;
}
.warning{
	font-size: 0.9rem;
	font-weight: 800;
	text-transform: uppercase;
	font-style: italic;
}

.processingText{
	padding: 0 25px;
	font-style: italic;
	font-weight: 600;
	font-size: 0.9rem;
}

.expand-transition {
	transition: all .3s ease;
	padding: 10px;
	overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
	height: 0;
	opacity: 0;
}
