		@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

		html, body{
			height: 100%;
			font-family: 'Open Sans';
		}
		body{
			margin: 0px;
		}
		.sidebar{
			background-color: #2ECC71;
			position:fixed;
			top:0;
			left:0;
			bottom:0;
			width: 25%;
			float: left;
			color: white;
		}
		
		.sideContent{
			padding: 0px 15px;
		}
		h1{
			font-weight: 400;
			margin-top: 0px;
		}

		.modules{
			width: 70%;
			float: right;
			margin: 30px 0px 30px 45px;
		}

		#modulesList li{
			list-style-type: none;
			line-height: 25px;
			font-size: 0.9em;
		}

		#modulesList{
			-webkit-columns: 200px 3; /* Chrome, Safari, Opera */
			-moz-columns: 200px 3; /* Firefox */
			columns: 200px 3;
			margin-bottom: 30px;
			padding-left: 0px;
		}

		input[type=checkbox]{
			margin-right: 10px;
		}
		
		#createBuild{
			border:none;
			background-color: #21a859;
			padding: 10px 20px;
			color: white;
			font-weight: 700;
			border-radius: 3px;
			text-transform: uppercase;
			margin-top: 90px;
			transition: 0.3s;
		}
		#createBuild:hover{
			cursor: pointer;
			background-color: #126D38;
		}
		#createBuild:disabled {
			background: #21a859;
			cursor: default;
		}
		input[type=text]{
			border: none;
			line-height: 24px;
			border-radius: 2px;
			width: 80%;
			padding: 5px 10px;
		}

		label{
			color: #375634;
			font-size: .8em;
			text-transform: uppercase;
			font-weight: 800;
			margin-bottom: 5px;
			display: block;
		}
		.note{
			font-weight: 500;
			text-transform: none;
			font-style: italic;
			margin-top: 5px;
		}
		#versionNumber{
			font-size:13px;
			position: absolute;
			bottom: 10px;
		}
		#versionNumber a{
			font-weight: bold;
			color: white;
		}
		.warning{
			font-size: 0.9rem;
			font-weight: 800;
			text-transform: uppercase;
			font-style: italic;
		}

		.spinner {
			width: 40px;
			height: 40px;
			position: relative;
			display: inline-block;
			top: 14px;
		}

		.double-bounce1, .double-bounce2 {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: #21a859;
			opacity: 0.6;
			position: absolute;
			top: 0;
			left: 0;
			-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
			animation: sk-bounce 2.0s infinite ease-in-out;
			mix-blend-mode: multiply;
		}

		.double-bounce2 {
			-webkit-animation-delay: -1.0s;
			animation-delay: -1.0s;
		}

		@-webkit-keyframes sk-bounce {
			0%, 100% { -webkit-transform: scale(0.0) }
			50% { -webkit-transform: scale(1.0) }
		}

		@keyframes sk-bounce {
			0%, 100% { 
				transform: scale(0.0);
				-webkit-transform: scale(0.0);
				} 50% { 
					transform: scale(1.0);
					-webkit-transform: scale(1.0);
				}
			}

			.processingText{
				display: inline-block;
				margin: 0px 25px;
				height: 40px;
				font-style: italic;
				font-weight: 600;
				color: #484747;
				font-size: 0.9rem;
			}